html,
body {
	background-color: black;
}

.board {
	background-color: red;

	display: grid;
	grid-template-rows: repeat(10, auto);
	grid-template-columns: repeat(10, auto);
}
div {
	background-color: white;
	margin: 10px;
}
