html,
body {
	background-color: black;
	height: 100%;
	width: 100%;
}
h1 {
	color: white;
	text-align: center;
}
main {
	display: flex;
	justify-content: center;
}
#board-container {
	display: flex;
}
.board {
	background-color: blue;
	padding: 20px;

	display: grid;
	grid-template-rows: repeat(10, 60px);
	grid-template-columns: repeat(10, 60px);
}

/* make the border a consistent number of pixels all the way around */
.board > .tile:nth-child(-n + 10) {
	border-top: 3px solid black;
}
.board > .tile:nth-child(10n-9) {
	border-left: 3px solid black;
}
.tile {
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}
.tile.empty {
	background-color: white;
}
.tile.ship {
	background-color: green;
}
.tile.missed {
	background-color: pink;
}
.tile.hit {
	background-color: red;
}
.tile:hover {
	background-color: blue;
	color: white;
}
