html, body {
    background-color: beige;
    margin: 0;
    height: 100%;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #CC5500; /* Burnt Orange */
}

#grid-container {
    display: grid;
    height: 65%;
    width: 50%;
    margin: 0 auto; /* center the grid*/
}

.square {
    border: 1px solid;
    padding: 1px; /* give grid tiles some area */
}

#button-container {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
}

button{
    margin: 0px 30px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 24px;
    color: beige;
    background-color: #CC5500; /* Burnt Orange */
}

button:hover{
    background-color: #CF3500; /* Slightly Darker Orange */
}