

#logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 225px;
  }

  #search-form {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    top: 250px;
  }

  #form-buttons {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
  }

  .form-button {
      width: 120px;
      height: 40px;
      margin: 20px;
      border-radius: 3px;
      border-width: 0px;
  }

  #search-bar {
    width: 25%;
    height: 30px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    border-color: gray;
    border-width: 1px;
    box-shadow: none;
  }

  .form-button:hover {
      box-shadow: 5px 5px 5px black;
  }

  #search-bar:focus {
    border-width: 0px;
  }

  a{
      text-decoration: none;
      color: black;
      margin: 5px;
  }
  a:hover{
      text-decoration: underline;
  }

  #left-nav {
    text-align: left;
    margin: 25px;
  }

  #right-nav {
    text-align: right;
}